<%- include('./header'); %>

    <body>
        <header>
            <h1>Ntalk - Agenda de contatos</h1>
            <h4>Bem vindo</h4>
        </header>
        <section>
            <form action="/entrar" method="post">
                <input type="text" name="usuario[nome]" placeholder="Nome">
                <br>
                <input type="text" name="usuario[email]" placeholder="Email">
                <br>
                <button type="submit">Entrar</button>
            </form>
            <%- include('./footer'); %>
        </section>
    </body>

    </html>